.navbar-default {
    background-color: transparent;    
}
    
.navbar {
    margin: 75px 0 80px 0;
    border: 0;
}

.navbar-header > a{
    max-width: 220px;    
}

.nav > li > a {
    padding: 10px 8px;
}

.navbar .navbar-collapse  {
    margin-top: 20px;
}

.navbar .navbar-toggle {
    margin-top: 30px;
}

.navbar-nav > li > a{
    text-transform: capitalize;    
}

.navbar-nav > li > a > i {
    font-size: 1.5em;
}



.navbar-nav > li > a > i {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    o-transform: rotate(-360deg);
    transform: rotate(-360deg);

    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    o-transition: transform 1s linear;
    transition: transform 1s linear;
}


.navbar-nav > li > a:hover i {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    o-transform: rotate(720deg);
    transform: rotate(720deg);

    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    o-transition: transform 1s;
    transition: transform 1s;

}


.navbar-default .navbar-nav>li>a.active,
.crumbs .active
{
    color: #8dbf41;
    text-decoration: underline;;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;        
}
 
